doctype html
head

  //- Meta Information
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content=' Diseños increíbles e impresiones de excelente calidad.Tenemos un producto para cada tipo de negocio al mejor precio.')
  meta(name='author' content='Rolando Camarasa')
  meta(name='keywords' content='imprenta, offset, gráfica, diseño, diseño gráfico, marketing, ventas, negocio, pyme, tarjetas personales, tarjetas de presentación, volantes, flyers, hang tags, hangtags, bolsas de papel, papelería corporativa, logotipo, cooperativa gráfica paraná, cooperativa grafica parana, Folletos, Postales, cuadernos, hojas membretadas, Sobres, carpetas')
  meta(name='robots' content='index')
  

  title Cooperativa Gr&aacute;fica Paran&aacute;
  

  // Font Awesome Icons
  link(href='vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css')
  // Plugin CSS
  link(href='vendor/magnific-popup/magnific-popup.css' rel='stylesheet')
  
  //- Theme CSS - Includes Bootstrap
  link(href='css/creative.css' rel='stylesheet')
  link(href='css/style.css' rel='stylesheet')


  //- FAVICON
  link(rel='icon' type='image/jpg' href='img/favicon.jpg' sizes='16x16')



//- ----------------------------------------------------------------------------------------------------------------------


body

  //- Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top')
        img(src="img/logo-header.png")

      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.my-2.my-lg-0
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') Nosotros
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#services') Servicios
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#portfolio') Portfolio
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#contact') Contacto


  //- Masthead
  header.masthead
    .container.h-100
      .row.h-100.align-items-center.justify-content-center.text-center
        .col-lg-10.align-self-end
          img(src='img/logo.png')
          hr.divider.my-4
        .col-lg-8.align-self-baseline
          p.text-white-75.font-weight-light.mb-5 Cooperativa Gráfica Paraná: Impresos + Diseño gráfico
          .row.centrado
            .text-center.social-btn
              .m-2
                a(href='http://www.facebook.com/cgparana.ar' target='blank')
                  i.fa.fa-2x.fa.fa-facebook-square.text-light.mb-4
            .text-center.social-btn
              .m-2
                a(href='http://www.instagram.com/cgparana.ar' target='blank')
                  i.fa.fa-2x.fa-instagram.text-light.mb-4
            .text-center.social-btn
              .m-2
                a(href='http://www.twitter.com/cgparana' target='blank')
                  i.fa.fa-2x.fa-twitter.text-light.mb-4
            .text-center.social-btn
              .m-2
                a(href='http://www.linkedin.com/cgparana' target='blank')
                  i.fa.fa-2x.fa-linkedin-square.text-light.mb-4
            .text-center.social-btn
              .m-2
                a(href='#')
                  i.fa.fa-2x.fa-whatsapp.text-light.mb-4
            .text-center.social-btn
              .m-2
                a(href='http://cgparana.blogspot.com' target='blank')
                  i.fa.fa-2x.fa-edit.text-light.mb-4


  //- Services Section
  section#services.page-section
    .container
      h2.text-center.mt-0 Nuestros servicios
      hr.divider.my-4
      .row
        .col-lg-3.col-md-6.text-center
          .mt-5
            i.fas.fa-4x.fa-clone.text-primary.mb-4
            h3.h4.mb-2 Impresiones
            p.text-muted.mb-0 La mejor calidad en folletos, volantes, papelería corporativa, tarjetas de presentación y revistas.
        .col-lg-3.col-md-6.text-center
          .mt-5
            i.fas.fa-4x.fa-box-open.text-primary.mb-4
            h3.h4.mb-2 Packaging
            p.text-muted.mb-0 Bolsas y cajas personalizadas. Los detalles son importantes y un diseño atractivo del packaging es indispensable.
        .col-lg-3.col-md-6.text-center
          .mt-5
            i.fas.fa-4x.fa-bezier-curve.text-primary.mb-4
            h3.h4.mb-2 Diseño gráfico
            p.text-muted.mb-0 Alcanz&aacute; el &eacute;xito diferenciandote de la competencia. El logotipo es el corazón de tu negocio, tu firma, tu identidad.
        .col-lg-3.col-md-6.text-center
          .mt-5
            i.fas.fa-4x.fa-award.text-primary.mb-4
            h3.h4.mb-2 Dise&ntilde;o de marca
            p.text-muted.mb-0 Cautiv&aacute; a tus clientes, llam&aacute; la atenci&oacute;n, maximix&aacute; tus ventas. Tu marca sustenta tu negocio y aumenta tu competitividad.


  //- About Section
  section#send.bg-parana2
    .container
      .row.centrado
            .text-center.social-btn
              .m-2
                i.fas.fa-2x.fa-shipping-fast.text-wht
            .text-center
              .m-2
                h2.h5.text-white.mt-0 Realizamos envíos a todo el país


  //- About Section
  section#about.page-section.bg-parana
    .container
      .row.justify-content-center
        .col-lg-8.text-center
          h2.text-white.mt-0 Un servicio para cada negocio
          hr.divider.light.my-4
          p.text-white-50.mb-4
            | Somos una cooperativa especializada en dise&ntilde;o e impresi&oacute;n de alta calidad. Realizamos papeler&iacute;a corporativa, hangtags, bolsas de papel, tarjetas de presentaci&oacute;n adem&aacute;s de realizar servicios de dise&ntilde;o de logotipos y branding. Nuestro objetivo es poner al alcance de todos la posibilidad de sobresalir en el mercado con detalles a nivel gr&aacute;fico que generen confianza y sean visualmente atractivos para retener clientes y captar nuevos.
          a.btn.btn-light.btn-xl.js-scroll-trigger(href='#services') Comencemos!


  //- Portfolio Section
  section#portfolio
    .container-fluid.p-0
      .row.no-gutters
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/1.jpg')
            img.img-fluid(src='img/portfolio/thumbnails/1.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50
                | Producto
              .project-name
                | Papeler&iacute;a corporativa
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/2.jpg')
            img.img-fluid(src='img/portfolio/thumbnails/2.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50
                | Producto
              .project-name
                | Tarjetas de presentaci&oacute;n
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/3.jpg')
            img.img-fluid(src='img/portfolio/thumbnails/3.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50
                | Producto
              .project-name
                | bolsas de papel
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/4.jpg')
            img.img-fluid(src='img/portfolio/thumbnails/4.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50
                | Servicio
              .project-name
                | Dise&ntilde;o de logotipo
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/5.jpg')
            img.img-fluid(src='img/portfolio/thumbnails/5.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50
                | Producto
              .project-name
                | Hang tags
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/6.jpg')
            img.img-fluid(src='img/portfolio/thumbnails/6.jpg' alt='')
            .portfolio-box-caption.p-3
              .project-category.text-white-50
                | Servicio
              .project-name
                | Branding
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/1.jpg')
            img.img-fluid(src='img/portfolio/thumbnails/1.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50
                | Producto
              .project-name
                | Papeler&iacute;a corporativa
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/2.jpg')
            img.img-fluid(src='img/portfolio/thumbnails/2.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50
                | Producto
              .project-name
                | Tarjetas de presentaci&oacute;n
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/3.jpg')
            img.img-fluid(src='img/portfolio/thumbnails/3.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50
                | Producto
              .project-name
                | bolsas de papel


  //- Call to Action Section
  section.page-section.bg-dark.text-white
    .container.text-center
      h2.h4.mb-4 Visita nuestro BLOG para importantes consejos para mejorar la imagen de su empresa, negocio o servicios
      a.btn.btn-light.btn-xl(href='http://cgparana.blogspot.com' target='blank') Ir al BLOG



  //- Contact Section
  section#contact.page-section
    .container
      .row.justify-content-center
        .col-lg-8.text-center
          h2.mt-0 Estamos en contacto!
          hr.divider.my-4
          p.text-muted.mb-5 &iquest;Listo para empezar tu pr&oacute;ximo proyecto con nosotros?
      .row
        .col-lg-4.ml-auto.text-center.mb-5.mb-lg-0
          i.fas.fa-phone.fa-3x.mb-3.text-muted
          div +54 9 (3329) 663495
        .col-lg-4.mr-auto.text-center
          i.fas.fa-envelope.fa-3x.mb-3.text-muted
          a.d-block(href='mailto:contact@yourwebsite.com') c.graficaparana@gmail.com


  //- Footer
  footer.bg-light.py-5
    .container
      .small.text-center.text-muted Copyright &copy; 2020 - Cooperativa Gráfica Paraná


  //- ----------------------------------------------------------------------------------------------------------------------



  //- Librerías JavaScript

  //- Bootstrap core JavaScript
  script(src='vendor/jquery/jquery.min.js')
  script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
  //- Plugin JavaScript
  script(src='vendor/jquery-easing/jquery.easing.min.js')
  script(src='vendor/magnific-popup/jquery.magnific-popup.min.js')
  //- Custom scripts for this template
  script(src='js/creative.min.js')